<div id="system_navigation" class="s_nav">
    <ul class="s_list_1 clearfix">
        <li><a href="#">Home</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Shopping Cart</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
