<div id="cart_menu" class="s_nav">
    <a href="#">
    <span class="s_icon"></span> 
    <small class="s_text">Sepetim</small>
    <span id="total_price" class="s_grand_total s_main_color">₺0.00</span></a>

    <div class="s_submenu s_cart_holder" id="cart_detail">
        <p class="s_mb_0">0 items</p>
    </div>
</div>
