@{
    ViewBag.Title = "Sirala";
    Layout = "~/Areas/Yonetim/Views/Shared/_YoneticiLayout.cshtml";
}
@model List<ETicaret.Data.Orm.Urun>
<div id="result"></div>
<div class="row">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading">
                <h2>Ürün Sırala</h2>
            </div>
            <ul id="sortable">
                @foreach (var item in Model)
                {
                    <li id="@item.Id">
                        <img src="@item.Resimler.FirstOrDefault().Resim140" />
                        <p class="text-muted">@item.Ad</p>
                    </li>
                }

            </ul>

        </div>

    </div>

</div>


@section scripts{
    @Scripts.Render("~/formScripts")
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable(
                {
                    placeholder: 'ui-state-highlight',
                    update: function (event, ui) {
                        var sortedUl = ui.item.parent();
                        var sortedList = sortedUl.sortable("toArray");

                        $.ajax({
                            url: '/Yonetim/Urun/SiralamaYap',
                            method: 'POST',
                            data: { 'ids': sortedList },
                            success: function (response) {
                                setResponse(response);
                            }
                        });
                    }
                });
            $("#sortable").disableSelection();
        });
    </script>
}
@section styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 600px;
        }

            #sortable li {
                margin: 3px 3px 3px 0;
                padding: 1px;
                float: left;
                width: 200px;
                height: 220px;
                font-size: 2em;
                text-align: center;
            }
    </style>
}
