
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">sd</button>
        </form>
    </div>
</body>
</html>
